<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @userfirstName %> <%= @userlastName %>, Welcome to Nickslist.</h1>
    <p>
      Your account is now activated. You can now login to Nickslist website. Please use the username and password filled by you while doing registration on Nickslist website.
    </p>
    
    <p>Thanks for joining us. Have a great day!</p>
  </body>
</html>