<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Nickslist, <%= @userfirstName %> <%= @userlastName %>.</h1>
    <p>
      Your account has been activated.
    </p>
    <p>
    	You can now login to begin using Nickslist.com.<br />
		Please use the user name and password you selected during registration.
    </p>
    <p>
    	Let us know if you have any questions.<br />
		Enjoy Nickslist and have a great day.
    </p>
  </body>
</html>