<!DOCTYPE html>
<html>
<head>
	<title>NicksList - User Registration</title>
	
</head>
<body>
	<div id="wrapper">
	<%= render partial: "/layouts/header" %>
	
    <div id="main-content-wrapper">
    	<div class="browser-center">
        	<div id="signup-wrapper">
               <div id="signup-header">
                  <h1>Payment Receipt</h1>
                  
               </div>
               <div id="singup-form-area">
               		<div class="singup-form-heading">
                    	<h1>Error!</h1>
                    </div>
                    
               		<div class="singup-form">              			
               			<div id="SignupForm">	
  						<h3>We're sorry, but we can't process your order at this time due to the following error:</h3>
  						<%= @reason %>
                        </div>
                    </div>
               </div>
               
             </div>
        </div>
    </div>
    
   <%= render partial: "/layouts/footer" %>
    
</div>
</body>
</html>