<html>
	<head>
		<script>
			$(function() {
				$("#frmPublish").submit();
			});
		</script>
	</head>
	<body>
		<form id="frmPublish" action="<%= reviews_EditReview_url %>" method="post">
			<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= @reviewID %>" />
		</form>
	</body>
</html>