<div id="footer-wrapper">
	<div class="browser-center">
		<div class="footer-links">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="<%= nicks_list_About_url %>">About BillysList</a>
				</li>
				<li>
					<a href="<%= nicks_list_HowItWorks_url %>">How it works </a>
				</li>
				<li>
					<a href="#">FAQ’s</a>
				</li>
				<li>
					<a href="#">Testimonials</a>
				</li>
				<li>
					<a href="#">Press Release</a>
				</li>
				<li>
					<a href="#">Contact Us</a>
				</li>
			</ul>
		</div>
		<div class="copyright">
			Copyright © <%= Time.now.year %>. All Right Reserved. <a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a>
		</div>
	</div>
</div>