<!DOCTYPE html>
<html>
<head>
  <title>Nick's List</title>
  <LINK REL="SHORTCUT ICON" HREF="/assets/favicon.ico" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript">
			$(document).on ('ready page:load', function() {
				$('#messageDiv').delay(3000).fadeOut('slow');
				$('.bxslider').bxSlider({
					mode : 'horizontal',
					speed : '500',
					auto : 'true',
					pause : '5000'
				});
				$('.login-register a').click(function() {
					$('#signin_menu').toggle();
				});
				$('.logout-register a').click(function() {
					$('#signout_menu').toggle();
				});
				
				$('body').click(function(evt) {
					if ($(evt.target).parents('#login-reg').length == 0 && $(evt.target).parents('#signin_menu').length == 0 && evt.target.id != 'signin_menu') {
						$('#signin_menu').hide();
					}
					if ($(evt.target).parents('#logout-reg').length == 0 && $(evt.target).parents('#signout_menu').length == 0 && evt.target.id != 'signout_menu') {
						$('#signout_menu').hide();
					}
				});
				
			$( "#selectCity" ).autocomplete({
      			source: availableCities
    		});
    		$( "#textBussCity" ).autocomplete({
      			source: availableCities
    		});
    		$( "#textMailCity" ).autocomplete({
      			source: availableCities
    		});
    		
    		$( "#selectState" ).autocomplete({
      			source: availableStates
    		});
    		$( "#textBussState" ).autocomplete({
      			source: availableStates
    		});
    		$( "#textMailState" ).autocomplete({
      			source: availableStates
    		});
  		});
  		
  		$(function($){
			$("#textPhoneNumber").mask("999-999-9999");
			$("#txtPhoneNumber").mask("999-999-9999");
			$("#textContact").mask("999-999-9999");
		});
  	
  		function ShowHideDiv(divName) {
				if (divName == 'General') {
					document.getElementById('btnContinue').style.display = 'none';
					document.getElementById('divGeneral').style.display = 'none';
					document.getElementById('divDetailed').style.display = 'block';
					document.getElementById('btnBack').style.display = 'block';
				} else {
					document.getElementById('divGeneral').style.display = 'block';
					document.getElementById('divDetailed').style.display = 'none';
					document.getElementById('btnBack').style.display = 'none';
					document.getElementById('btnContinue').style.display = 'block';
				}
			}
		</script>
  
</head>
<body>
<%= yield %>

</body>
</html>
